:root {
  --main-font-family: 'Open Sans' sans-serif;
  --secondary-font-family: 'Raleway' sans-serif;
  --primary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #303030;
  --secondary-text-color-theme-dark: #9da4bd;
  --secondary-text-color-theme-light: #555555;
  --accent-color: #ff6c00;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

body {
  font-family: var(--main-font-family);
}

.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  /* color: #ffffff; */
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contact-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  /* color: #FFFFFF; */
}

.contact-tel:hover,
.contact-tel:focus {
  color: var(--accent-color);
}

.subscribe-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  border: 1px solid var(--accent-color);
  border-radius: 25px;
}

.subscribe-btn:hover,
.contact-tel:focus {
  background-color: var(--accent-color);
}

.subscribe-btn-theme-dark {
  color: #303030;
}

.subscribe-btn-theme-light {
  color: #ffffff;
}

/* =====================================HERO=============== */

.media-list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--primary-text-color-theme-light);
}

.media-list-link:hover,
.media-list-link:focus {
  color: var(--accent-color);
}

.subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.subtitle-theme-dark {
  color: var(--secondary-text-color-theme-dark);
}

.subtitle-theme-light {
  color: var(--primary-text-color-theme-light);
}

.main-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: var(--primary-text-color-theme-dark);
}

.section-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.section-description-theme-dark {
  color: var(--secondary-text-color-theme-dark);
}

.section-description-theme-light {
  color: var(--secondary-text-color-theme-light);
}
